.top-nav{
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 999;
}

/* Left */

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-logo{
    width: 75px;
}

.logo .icon{
    margin-right: 16px;
}

/* Middle */

.search{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search form{
    display: flex;
    align-items: center;
    width: 90%;
    height: 32px;
    border: 1px solid lightgrey;
}

.search form input{
    border: none;
    flex: 1;
    min-width: 0px;
    height: 30px;
    outline: none;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 540;
    justify-content: center;
}

.search-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    border-left: 1px solid lightgray;
    height: 100%;
    background-color: rgba(0,0,0,0.025);
}

.search-icon-container:hover{
    background-color: rgba(0,0,0,0.08);
}

/* Right */

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 225px;
    padding-left: 20px;
}

.right .icon{
    margin-right: 8px;
}

.nav-profile{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 6px;
}

.nav-profile img{
    width: 100%;
    border-radius: 50%
}

/* Icon Colors */

.nav-icon{
    color: rgba(0,0,0,0.7);
}

.icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover{
    background-color: lightgray;
}