.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: flex-start;
    position: absolute;
    top:0;
    left:0;
    z-index: 50;
    padding-top: 66px;
    overflow: auto;
    background-color: white;
}

.sidebar-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    padding-left: 24px;
}

.sidebar-item:hover{
    background-color: rgba(0,0,0,0.05);
}

.sidebar-item-icon{
    margin-right: 24px;
    font-weight: 550;
}

.break{
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin: 12px 0px;
}