/* 
    "show" --> To display Hamburgur and Youtube logo routed on .../watch 
    "show-item --> To hide items when sidebar is half closed
*/

.show{
    display: none;
}

.sidebar-item-title{
    font-size: 14px;
    font-weight: 550;
}

.sidebar{
    overflow: auto;
}

.break{
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin: 12px 0px;
}


/* Home Sidebar open */

.home-sidebar-open{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: flex-start;
    position: fixed;
    top:0;
    left:0;
    z-index: 50;
    padding-top: 65px;
    overflow: auto;
    background-color: white;
    color: rgba(0,0,0,0.65);
}

.home-sidebar-open .sidebar-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    padding-left: 24px;
}

.home-sidebar-open .sidebar-item:hover{
    background-color: rgba(0,0,0,0.05);
}

.home-sidebar-open .sidebar-item-icon{
    margin-right: 24px;
    font-weight: 550;
}

/* Home Sidebar Closed */

.home-sidebar-closed{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 72px;
    align-items: flex-start;
    position: fixed;
    top:0;
    left:0;
    z-index: 50;
    padding-top: 56px;
    overflow: auto;
    background-color: white;
    color: rgba(0,0,0,0.65);
}

.home-sidebar-closed .show-item{
    display: none !important;
}

.home-sidebar-closed .sidebar-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 16px;
    margin-bottom: 14px;
}

.home-sidebar-closed .sidebar-item-icon{
    margin-bottom: 6px;
}

.home-sidebar-closed .sidebar-item-title{
    font-size: 11px;
}

.home-sidebar-closed .break{
    display: none !important;
}

/* Watch Sidebar open */

.watch-sidebar-open{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: flex-start;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    overflow: auto;
    background-color: white;
    color: rgba(0,0,0,0.65);
}

.watch-sidebar-open .watch-sidebar-logo{
    display: flex !important;
    padding-left: 16px;
    height: 57px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
    border-bottom: 1px solid lightgray
}

.watch-sidebar-open .watch-sidebar-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.watch-sidebar-open .watch-sidebar-nav-logo{
    height: 17px;
    width: 75px;
}

.watch-sidebar-open .sidebar-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    padding-left: 24px;
}

.watch-sidebar-open .watch-sidebar-icon:hover ,.watch-sidebar-open .sidebar-item:hover{
    background-color: rgba(0,0,0,0.05);
}

.watch-sidebar-open .sidebar-item-icon{
    margin-right: 24px;
    font-weight: 550;
}