@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.recommended-body{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 248px;
    padding-top: 72px;
    background-color: rgba(0,0,0,0.03);
    min-height: 100vh;
    width: 100%;
} 

.header{
    margin:0px auto 16px 8px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,0.8);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 16px;
}

/* before fetch */

.video-card-container{
    width: calc((100% - 64px)/4);
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
    margin-bottom: 46px;
    max-width: 319.98px;
}

.video-card-thumbnail{
    width: 100%;
    padding-top: 56.247%;
    background-color: rgba(0,0,0,0.18);
    position: relative;
}

.video-card-thumbnail img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-card-contents{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.channel-img{
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
    margin-right: 10px;    
}

.video-details{
    width: 100%; 
}

.video-details-title{
    width: 90%;
    height: 18px;
    background-color: rgba(0,0,0,0.1);
}

.video-details-channel-title{
    margin-top: 10px;
    width: 60%;
    height: 18px;
    background-color: rgba(0,0,0,0.1);
}

/* Style of cards after data fetch */

.video-details-onsuccess{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.video-details-title-onsuccess{
    width: 90%;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin: 0px;
}

.video-details-channel-title-onsuccess{
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 13.5px;
    color: rgba(0,0,0,0.6);
    margin-top: 8px;
    line-height: 18px;
    max-height: 37px;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-details-views-onsuccess{
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 13.5px;
    color: rgba(0,0,0,0.6);
    margin-top: 2px;
    line-height: 18px;
    max-height: 37px;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-details-views-onsuccess span{
    margin:0px 4px;
}

.channel-img img{
    width: 40px;
    border-radius: 50%;
}

@media(max-width: 1142px){
    .video-card-container{
        width: calc((100% - 48px)/3);
    }
}

@media(max-width: 888px){
    .video-card-container{
        width: calc((100% - 32px)/2);
    }
}

@media(max-width: 688px){
    .video-card-container{
        width: 398.98px;
    }
}


