.recommended-body{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 248px;
    padding-top: 72px;
    background-color: rgba(0,0,0,0.06);
    min-height: 100vh;
    width: 100%;
} 

.header{
    margin:0px auto 16px 8px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* calc((100% - 64px)/4); */

.video-card-container{
    width: calc((100% - 64px)/4);
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
    margin-bottom: 40px;
    max-width: 319.98px;
}

.video-card-thumbnail{
    width: 100%;
    padding-top: 56.247%;
    background-color: rgba(0,0,0,0.18);
    position: relative;
}

.video-card-contents{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.channel-img{
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
    margin-right: 10px;    
}

.video-details{
    width: 100%; 
}

.video-details-title{
    width: 90%;
    height: 18px;
    background-color: rgba(0,0,0,0.1);
}

.video-details-channel-title{
    margin-top: 10px;
    width: 60%;
    height: 18px;
    background-color: rgba(0,0,0,0.1);
}

@media(max-width: 1142px){
    .video-card-container{
        width: calc((100% - 48px)/3);
    }
}

@media(max-width: 888px){
    .video-card-container{
        width: calc((100% - 32px)/2);
    }
}

@media(max-width: 512px){
    .video-card-container{
        width: 398.98px;
    }
}


